{
  "parser": "typescript-eslint-parser",
  "extends": ["standard", "plugin:react/recommended"],
  "plugins": ["typescript", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "comma-dangle": "off",
    "key-spacing": ["error", { "align": "value" }]
  }
}
